.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: (12 / 16 * 1rem) (30 / 16 * 1rem);

  font-size: (14 / 16 * 1rem);
  
  background-color: #fff;
  box-shadow: 1px 4px 2px rgba(0, 0, 0, .02);
  
  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    
    li {
      display: inline-block;
      
      line-height: 0;
      list-style: none;
      
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .fa-bars {
    font-size: 1rem;
    color: rgb(165, 165, 165);
  }

  a {
    color: rgb(160, 160, 160);

    .fa-video {
      font-size: 1rem;
    }
  }

  .global-nav {
    li {
      margin-right: (27 / 16 * 1rem);
    }
    
    .main-header-logo-home-link {
      line-height: inherit;
    }
    
    .main-header-logo {
      width: (120 / 16 * 1rem);
    }
  }
  

  .user-actions {
    li {
      margin-right: (34 / 16 * 1rem);
    }
  }
}
