.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: (12 / 16 * 1rem) (30 / 16 * 1rem);

  font-size: (14 / 16 * 1rem);
  
  background-color: #fff;
  box-shadow: 1px 4px 2px rgba(0, 0, 0, .02);

  .main-header-logo-home-link {
    line-height: inherit;
  }
  
  .main-header-logo {
    width: (120 / 16 * 1rem);
  }
  
  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 1rem;
      
      line-height: 0;
      list-style: none;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
