a.sign-in-button {
  display: inline-block;
  margin: .36rem .3rem .35rem;
  
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: $user-form-action-color;
}

.user-actions-menu-button {
  z-index: 10;

  border-radius: 50%;
  cursor: pointer;
}

.user-actions-menu {
  z-index: 10;
  position: fixed;
  top: 3rem;
  right: 1rem;

  box-sizing: border-box;
  min-width: (300 / 16 * 1rem);
  max-width: (300 / 16 * 1rem);

  background: #fff;
  box-shadow: 0 5px 18px rgba(0, 0, 0, .4);

  li {
    width: 100%;
  }

  .user-actions-menu-header {
    display: flex;
    box-sizing: border-box;
    padding: 1rem;
    background-color: rgb(238, 238, 238);

    font-weight: 400;

    .user-profile-picture {
      margin-right: 1rem;
      border-radius: 50%;
    }
    
    .user-details {
      display: block;
      line-height: $main-line-height;
      
      h2, h3 {
        margin: 0;
      }
  
      h2 {
        font-size: 1rem;
        font-weight: 500;
      }
  
      h3 {
        font-size: (14 / 16 * 1rem);
        font-weight: 400;
      }

      li {
        width: 100%;
      }
    }
  }

  .user-actions-menu-option {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 0;
    padding: 1rem;

    cursor: pointer;
  }
}

.transparent-modal-click-area {
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
