.sign-in-button {
  display: inline-block;
  margin: .36rem .3rem .35rem;
  
  font-weight: 500;
  text-transform: uppercase;
}

.user-actions-menu-button {
  border-radius: 50%;

  cursor: pointer;
}
