#video-comments{
  h4 {
    margin-bottom: 1.5rem;

    font-size: 1rem;
    font-weight: 400;
  }

  .all-comments {
    margin: 0;
    padding: 0;
  }
  
  .comment {
    display: flex;
    margin-bottom: 1.5rem;
    word-break: break-word;
    list-style: none;

    &:hover .comment-delete-button,
    &:hover .comment-edit-button {
      visibility: visible;
    }
    
    .user-avatar {
      width: 40px;
      height: 40px;
      margin-right: 1rem;
      border-radius: 50%;
    }

    .user-username {
      display: inline-block;
      margin: 0 4px 4px 0;
      font-size: 13px;
      font-weight: 500;
    }

    .comment-post-date {
      font-size: 13px;
      color: rgb(96, 96, 96);
    }

    .comment-body {
      margin: 0 0 .4rem;
      font-size: 14px;
    }

    .comment-like-button,
    .comment-dislike-button {
      border: 0;

      font-size: 14px;
      color: rgb(144, 144, 144);

      outline: none;
      cursor: pointer;
    }

    .comment-like-button {
      padding: 0 10px 0 0;
    }

    .comment-dislike-button {
      padding: 0 0 0 18px;
    }
    
    .comment-like-button.was-liked,
    .comment-dislike-button.was-disliked {
      color: rgb(3, 80, 220);
    }

    .comment-like-amount {
      font-size: 13px;
      color: rgb(96, 96, 96);
    }

    .comment-delete-button,
    .comment-edit-button {
      border: 0;
      padding: 0 18px;
      
      cursor: pointer;
      visibility: hidden;
      opacity: .4;
      
      &:hover {
        opacity: .6;
      }
    }

    .comment-edit-button {
      margin-left: auto;
    }

    .comment-edit-form {
      flex-grow: 2;
      text-align: right;
      
      label {
        position: absolute;

        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        overflow: hidden;
      }

      input[type="text"] {
        display: block;
        outline: none;

        box-sizing: border-box;
        width: 100%;
        margin-bottom: .5rem;
        border: 0;
        border-bottom: 1px solid rgb(238, 238, 238);
        padding-bottom: 10px;

        font-size: 14px;

        &:focus {
          margin-bottom: 7px;
          border-bottom: 2px solid rgb(105, 105, 105);
        }
      }

      input[type="submit"],
      .edit-cancel-button {
        @extend %general-action-button;

        background-color: transparent;
        color: rgba(0, 0, 0, .3);

        &:hover {
          color: rgba(0, 0, 0, .6);
        }
      }
    }
  }
}
