#video-actions-interface {
  display: flex;
  margin: 0;
  margin-left: auto;

  list-style: none;

  .judgment-button {
    display: inline-block;
    
    span {
      display: block;
    }
  }

  .video-like-button.was-liked,
  .video-dislike-button.was-disliked {
    color: lightblue;
  }

  #like-bar {
    display: block;
    height: 2px;
    width: 100%;
  }
}
