#video-actions-interface {
  display: flex;
  margin: 0;
  margin-left: auto;

  list-style: none;

  .video-like-button,
  .video-dislike-button {
    border: 0;
    padding: 0 .5rem .9rem;
    
    font-size: 1.2rem;
    color: rgb(144, 144, 144);
    
    outline: none;
    cursor: pointer;

    & + label {
      font-size: 13px;
      font-weight: 500;
      color: rgb(144, 144, 144);

      cursor: pointer;
    }
  }

  .video-like-button + label {
    margin-right: 14px;
  }

  .video-dislike-button + label {
    margin-right: .5rem;
  }

  .video-like-button.was-liked,
  .video-dislike-button.was-disliked {
    color: rgb(3, 80, 220);

    + label {
      color: rgb(3, 80, 220);
    }
  }

  #like-bar {
    display: block;
    height: 2px;
    width: 100%;

    &::-webkit-meter-bar {
      background: rgb(204, 204, 204);
    }

    &::-webkit-meter-optimum-value {
      background: rgb(144, 144, 144);

      transition: width .2s
    }

    &.was-liked::-webkit-meter-optimum-value,
    &.was-disliked::-webkit-meter-optimum-value {
      background: rgb(3, 80, 220);
    }
  }
}
