body {
  // background-color: rgb(250, 250, 250);
  
  line-height: $main-line-height;
  font-family: 'Roboto', Helvetica, sans-serif;
}

a {
  font-weight: 700;
  text-decoration: none;
  
  color: $action-color;
}

a, span, p {
  line-height: 1.5;
}

video {
  width: 100%;
}
