.video-upload-container {
  padding: 1rem;

  form {
    label, input {
      display: block;
    }

    label[for="video-file"] {
      width: 118px;
      height: 80px;
      cursor: pointer;
      
      background-image: url('https://i.imgur.com/4RW7akp.png');
      background-size: cover;

      &:hover, &:focus {
        background-image: url('https://i.imgur.com/koyfO4A.png');
      }

      & span {
        visibility: hidden;
        width: 0;
        height: 0;
      }
    }
    
    input#video-file {
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }
}
