.video-upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 743px;
  height: 385px;
  margin: (10 / 16 * 1rem) auto 0;
  padding: 1rem 10rem;

  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);

  h1 {
    order: 1;
    
    font-size: (20 / 16 * 1rem);
    font-weight: 400;
    color: #444;
  }

  .video-upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    
    label, input {
      display: block;
    }

    label[for="video-file"] {
      width: 118px;
      height: 80px;
      cursor: pointer;
      
      background-image: url('https://i.imgur.com/4RW7akp.png');
      background-size: cover;

      &:hover, &:focus {
        background-image: url('https://i.imgur.com/koyfO4A.png');
      }

      & span {
        visibility: hidden;
        width: 0;
        height: 0;
      }
    }
    
    input#video-file {
      width: 0;
      height: 0;
      margin: 0;
      border: 0;
      padding: 0;
      overflow: hidden;
    }

    &.file-true {
      font-size: (13 / 16 * 1rem);
      
      .video-info-form-fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 100%;
        margin: 0;
        border: 0;
        padding: 0;
      }

      label {
        visibility: hidden;
        width: 0;
        height: 0;

        &[for="thumbnail"] {
          align-self: flex-start;

          visibility: visible;
          width: initial;
          height: initial;
          margin-bottom: .5rem;

          font-size: (14 / 16 * 1rem);
          font-weight: 500;
          text-transform: uppercase;
          color: $form-secondary-text-color;
        }
      }

      input#thumbnail {
        border: 0;
        padding: 0;
      }
      
      input::-webkit-file-upload-button {
        margin-right: 2rem;
        border-radius: 2px;
        padding: 6px 10px 5px;

        font-weight: 500;
        font-size: 12px;
        
        background-color: rgb(248, 248, 248);
      }

      input, textarea {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: (15 / 16 * 1rem);
        border: 1px solid rgb(211, 211, 211);
        padding: 5px 10px 6px;
      }

      textarea {
        height: (60 / 16 * 1rem);
        max-width: 100%;
        max-height: 200px;
      }
    }

    input[type="submit"] {
      width: 117px;
      height: 28px;
      padding-top: 7px;
      border: 0;
      border-radius: 2px;
      
      font-size: (11 / 16 * 1rem);
      font-weight: 500;
      
      background-color: rgb(0, 117, 204);
      color: #fff;

      &:disabled {
        background-color: grey;
        opacity: .5;
      }
    }
  }

  .video-watch-link {
    font-size: 14px;
    text-align: center;
    color: $form-secondary-text-color;

    span {
      display: block;
    }

    a {
      color: $form-upload-action-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .upload-form-errors {
    order: 2;
  }
}
