// Main

$form-upload-action-color: #167ac6;

// Forms

// // Material (login/signup)

$form-border-color: #dadce0;
$form-label-color: #5f6368;
$form-highlight-hover-color: rgb(41, 119, 226);
$form-action-color: rgb(29, 111, 228);

$form-secondary-hover-color: rgb(246, 250, 254);
$form-secondary-focus-color: rgb(231, 239, 254);

// // Video Upload

$form-secondary-text-color: rgb(118, 118, 118);

// // Video Edit

$form-light-gray: rgb(224, 224, 224);
$form-light-mid-gray: rgb(204, 204, 204);
$form-focus-color: rgb(13, 90, 208);
