// Main

$action-color: rgb(29, 111, 228);

// Forms

$form-border-color: #dadce0;
$form-label-color: #5f6368;
$form-highlight-hover-color: rgb(41, 119, 226);

$form-secondary-hover-color: rgb(246, 250, 254);
$form-secondary-focus-color: rgb(231, 239, 254);
