form {
  .label-input-group {
    position: relative;
  }

  label {
    // visibility: hidden;
    // position: absolute;
    // width: 0;
    // height: 0;

    position: absolute;
    top: .45rem;
    left: .5rem;

    padding: .1rem .3rem;

    background-color: #fff;
    color: grey;

    transition: color .1s,
                transform .1s;
  }

  input {
    outline: none;
    
    display: block;
    box-sizing: border-box;
    margin-bottom: (23 / 16 * 1rem);
    border: 1px solid $form-border-color;
    border-radius: 4px;
    padding: (8 / 16 * 1rem) (11 / 16 * 1rem);

    &[type="text"],
    &[type="email"],
    &[type="password"] {
      width: 100%;
      
      &:focus {
        border: 2px solid $action-color;
        padding: (7 / 16 * 1rem) (10 / 16 * 1rem);

        transition: border-color .1s,
                    color .1s;

        & + label {
          color: $action-color;
          transform: translate(-13px, -18px)
                     scale(.7);
        }
      }

      &:not([value=""]) + label {
        transform: translate(-13px, -18px)
                     scale(.7);
      }
    }

    &[type="email"] {
      &:focus + label, &:not([value=""]) + label {
        transform: translate(-21px, -18px)
                   scale(.7);
      }
    }
    
    &[type="submit"] {
      box-sizing: border-box;
      border: 0;
      padding: (11 / 16 * 1rem) (28.5 / 16 * 1rem);
      
      font-weight: 700;
      background-color: $action-color;
      color: #fff;
      
      transition: box-shadow .3s;
      
      &:hover, &:focus {
        background-color: $form-highlight-hover-color;
        box-shadow: 0 1px 5px rgba(66, 133, 244, 0.45),
        0 1px 3px rgba(148, 184, 246, 0.6);
      }
    }
  }
}

.helper-text {
  display: block;

  font-size: (12 / 16 * 1rem);
}


.form-secondary-btn {
  position: relative;
  left: -1rem;
  order: -1;
  
  padding: (10 / 16 * 1rem) 1rem;
  
  font-weight: 700;
  
  text-decoration: none;
  color: $action-color;

  transition: background-color .12s;

  &:hover, &:focus {
    outline: none;

    background-color: $form-secondary-hover-color;
  }
}

.form-error-messages {
  padding-left: 0;
  list-style: none;

  color: rgb(234, 0, 0);
}
