.sign-up-form {
  margin-right: 4.5rem;
}

.sign-up-full-name {
  display: flex;
  justify-content: space-between;

  .label-input-group:first-child {
    margin-right: 1rem;
  }
}

.user-form-sign-up-badge {
  display: flex;
  align-items: center;
  max-width: (244 / 16 * 1rem);

  text-align: center;
  font-size: 1rem;

  figure {
    margin: 0;

    img {
      width: 75%;
      margin-bottom: 1rem;
    }

    figcaption {
      font-weight: 300;
    }
  }
}
