.sign-in-form-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  box-sizing: border-box;
  min-height: (500 / 16 * 1rem);
  padding-top: 3rem;

  label {
    top: 1rem;
    left: .75rem;
    
    font-size: 1rem;
  }

  input[type="email"],
  input[type="password"] {
    margin-bottom: 0;
    margin-top: (23 / 16 * 1rem);
    padding: (13 / 16 * 1rem) (15 / 16 * 1rem);

    font-size: 1rem;
    line-height: 28px;
    
    &:focus {
      padding: (12 / 16 * 1rem) (14 / 16 * 1rem);
    }
  }
  
  input[type="email"] {
    margin-top: 0;
    
    &:focus + label {
      transform: translate(-10px, -28px)
      scale(.75);
    }
    
    &:not([value=""]) + label {
      transform: translate(-10px, -28px)
      scale(.75);
    }
  }

  input[type="password"] {
    &:focus + label {
      transform: translate(-13px, -28px)
                 scale(.75);
    }

    &:not([value=""]) + label {
      transform: translate(-13px, -28px)
                 scale(.75);
    }
  }

  .helper-text {
    margin-top: (23 / 16 * 1rem);
    
    font-size: (14 / 16 * 1rem);
    color: #5f6368;
  }

  .form-secondary-btn {
    left: -.5rem;
    padding: .5rem;
  }

  // can implement errors later
  // errors should display under each relevant input field
  
  // .sign-in-error {
  //   display: inline-block;
  //   margin-top: (6 / 16 * 1rem);
    
  //   font-size: (12 / 16 * 1rem);
  //   color: rgb(234, 0, 0);
  // }
  
  // .error-hidden {
  //   display: none;
  // }
}
