.video-card {
  width: 210px;
  margin-bottom: 1.5rem;
  
  header {
    display: flex;
    flex-direction: column;
    
    h4 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      order: 2;

      max-height: 40px;
      margin: 0;
      margin-bottom: .25rem;
      overflow: hidden;

      font-size: 14px;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
    }

    .video-thumbnail-frame {
      width: 100%;
      height: 118px;
      margin-bottom: 10px;
      
      background-color: #000;

      a {
        width: 100%;
        
        img {
          object-fit: contain;
          width: 100%;
          height: 118px;
        }
      }
    }
  }

  .video-card-details {
    font-size: 13px;
    color: rgba(17, 17, 17, .6);

    .uploader-name {
      display: block;
      text-decoration: none;
      color: rgba(17, 17, 17, .6);

      &:hover {
        color: rgba(17, 17, 17, .8);
      }
    }

    .view-count::after {
      content: ' • ';
    }
  }
}
